.footer {
  background-color: #1c1c1c;
  color: white;
  padding-top: 60px;
}

.footer-content {
  width: 80%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  gap: 50px;

  padding-bottom: 40px;
}

.footer-section {
  flex: 1;
}

.footer-section h2 {
  color: #d4af37;
  margin-bottom: 15px;
}

.footer-section h3 {
  color: #d4af37;
  margin-bottom: 15px;
}

.footer-section p {
  line-height: 1.8;
  color: #d6d6d6;
}

.footer-section ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-section li {
  cursor: pointer;
  transition: 0.3s;
}

.footer-section li:hover {
  color: #d4af37;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  text-align: center;
  padding: 20px 0;
}

.footer-bottom p {
  color: #bdbdbd;
}

@media (max-width: 768px) {

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

}